#footer {
    background: #F0F0E9;
}

.footer-widget {
    margin-bottom: 68px;
}

.footer-widget .container {
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
}

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.footer-bottom {
    background: #D6D6D0;
    padding-top: 10px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

ul li {
    list-style: none;
}

.sns-signin .facebook {
    background-color: #3e4764;
}

.sns-signin a {
    margin-bottom: 22px;
    display: block;
    color: #fff;
}

.facebook .fa-facebook {
    color: #505050;
    background-color: #eaeaea;
    padding: 15px 19px 15px 18px;
}

.sns-signin a span {
    margin-left: 30px;
}

.sns-signin .google-plus {
    background-color: #e66060;
    }

.google-plus .fa-google-plus {
    color: #505050;
    background-color: #eaeaea;
    padding: 15px 19px 15px 18px;
}
.horizontal-divider {
    margin: 0 auto;
    position: relative;
    width: 0px;
    top: 0;
    background-color: #fff;
}
.horizontal-divider:before {
    content: 'OR';
    position: absolute;
    top: 110px;
    left: -30px;
    padding: 20px;
    font-size: 18px;
    background: #3e4764;
    border-radius: 50%;
    color: #fff;
}