/*new */

.navbar {
    background-color: #EB5C31
}

.navbar li > a {
    color: #ffffff;
    border: 1px #C03D14;
}

.header-link {
    text-decoration: none !important;
    cursor: pointer !important;
}

#header .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header .navbar-brand > img {
    display: inline;
    height: 100%;
}

.navbar-nav > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-nav>li:hover{
    text-decoration: none;
    background-color: transparent !important;
}
.navbar-nav>li>.mylink:hover {
    background-color: transparent !important;
}

/*
.box {
    margin-bottom: 17px;
}

.iconbox {
    color: #ffffff;
    display: block;
    float: left;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 8px;
    font-size: 15px;
}
.button, input.button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #7db641;
}
ul, ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer .column ul li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 0;
    overflow: hidden;
}
ul li, ol li {
    line-height: 20px;
}
*/
