.product {
    padding: 15px;
}

.product .name {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px !important;
    height: 10px !important;
}

.choose {
    border-top: 1px solid #F7F7F0;
    padding-top: 20px;
    margin-bottom: 20px;
}

ul li {
    list-style: none;
}

.choose ul li a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.choose ul li a i {
    margin-right: 5px;

}

.choose ul li:hover .test {
    color: red;
}

.tstyle {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    font-size: 18px;
}

.hstyle {
    background: #16b594;
    border: 1px solid #16b594;
    color: #f5f5f5;
    font-size: 18px;
}

.deliverySelected {
    background-color: teal !important;
    color: whitesmoke !important;
}

.tstyle th {
    text-align: center !important;
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    text-decoration: none !important;
}

.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.cart_quantity_button {
    padding-left: 20%;
}

.total_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}

ul li {
    list-style: none;
}

.total_area span {
    float: right;
}

.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.checkout .payment-method {
    background: #607d8b;
}

.checkout .payment-method {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 2px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
}

.checkbox, .radio {
    padding-left: 0;
    margin-bottom: 10px;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio.light label {
    color: #333;
}

.checkout table {
    width: 100%;
    font-size: 1.125em;
    margin-bottom: 10px;
}

.checkout table td.border {
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 10px;
}

.checkout table td {
    padding-top: 16px;
}

.checkout table .price {
    font-weight: 900;
    text-align: right;
}

/*
*Imp
*/
.mybtn {
    background-color: teal !important;
    color: #fff !important;
}

.mybtn:hover {
    background-color: #004c4d !important;
}

.page-title {
    font-size: 21px!important;
    text-transform: uppercase!important;
    background: lightgray!important;
    color: black!important;
    padding-top: 5px;
    padding-bottom: 5px;
    /*padding-left: 15px;*/
    margin: 5px 0 5px!important;
}

@media screen and (max-width: 767px) {
    .order-outer {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (min-width: 768px)and (max-width: 1200px) {
    .order-outer {
        padding-left: 15px !important;
        padding-right: 0px !important;
    }
}

.quantity-btn {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    height: 25px;
    float: left;
    margin-right: 4px;
    margin-left: -1px;
}

.quantity-btn button {
    float: left;
    border: 0;
    cursor: pointer;
    width: 17px;
    height: 25px;
    color: #989898;
    font: 500 14px/14px 'Roboto Slab', serif;
    background: linear-gradient(to bottom, #fff 0, #eaeaea 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
}

.quantity-btn input {
    float: left;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-bottom: 0;
    width: 24px;
    height: 25px;
    background: #fff;
    font: 400 12px/16px Lato, sans-serif;
    color: #000;
    text-align: center;
}

