<div class="container">
    <h1 class="page-title">Shopping Bag</h1>
    <a class="btn btn-default mybtn hidden-lg hidden-sm hidden-md" data-ng-click="vm.checkout()" style="width: 100%;">
        Start Checkout</a>

    <div class="col-sm-12 text-center" data-ng-show="cartItemCount==0">
        <h1>Your shopping cart is empty</h1>
        <a class="btn btn-default mybtn" href="#home">Continue Shopping</a>
    </div>
    <div class="col-sm-8" style="padding: 0px;" data-ng-hide="cartItemCount==0">
        <h3 class="tstyle" style="padding: 10px;">Your items</h3>
        <!--show all items in cart-->
        <div data-ng-repeat="item in vm.cartItems">
            <div class="col-sm-12 col-xs-12" style="border-bottom: 1px #B3AFA8 dotted">

                <div class="col-sm-8" style="padding-left: 0px!important; padding-top: 10px;">
                    <span class="hidden-md hidden-lg hidden-sm" data-ng-click="vm.removeItemFromCart(item)"><i class="fa fa-trash-o pull-right" style="padding-top: 5px;cursor: pointer"></i></span>
                    <div class="col-sm-4 col-xs-12" style="padding-left: 0px!important;padding-bottom: 10px;">
                        <img ng-src="" class="img-responsive" style="height: 80px;width: 120px;">
                    </div>
                    <div class="col-sm-8 col-xs-12" style="padding: 0px;">
                        <div>
                            <div class="col-sm-4 col-xs-4" style="padding: 0px;">Item:</div>
                            <div class="col-sm-8 col-xs-8 " style="padding: 0px;"><label>{{item.itemName}}</label></div>
                        </div>
                        <div>
                            <div class="col-sm-4 col-xs-4" style="padding: 0px;">Chef:</div>
                            <div class="col-sm-8 col-xs-8" style="padding: 0px;"><label>{{item.chefName}}</label></div>
                        </div>
                        <div class="col-sm-12 col-xs-12" style="padding: 0px;">
                            <div class="col-sm-4 col-xs-4" style="padding: 0px;">Quantity:</div>
                            <div class="quantity-btn" >
                                <button data-ng-click="vm.minusItemCount(item)" data-ng-disabled="item.quantity<=1">-
                                </button>
                                <input type="text" class="text-change-qty-search-popup" autocomplete="off" value="1"
                                       data-ng-model="item.quantity" readonly>
                                <button data-ng-click="vm.plusItemCount(item)" data-ng-disabled="item.quantity>=5">+
                                </button>
                            </div>
                        </div>
                        <div class="hidden-md hidden-lg hidden-sm">
                            <div class=" col-xs-4" style="padding-left: 0px;padding-top: 5px;">Price:</div>
                            <div class=" col-xs-8" style="padding-left: 0px;padding-top: 5px;">
                                <label><i class="fa fa-inr"></i> {{item.price *
                                item.quantity}}</label>

                            </div>
                        </div>
                        <div class="hidden-md hidden-lg hidden-sm">
                            <div class=" col-xs-4" style="padding-left:0px; padding-bottom: 10px;">Weight:</div>
                            <div class=" col-xs-8" style="padding-left: 0px;"><label>{{item.weight *item.quantity}} Kg</label></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs" style="padding-top: 10px;padding-right: 15px;">
                    <div class="pull-right">
                        <div class="col-sm-12 pull-right">
                            <div class="col-sm-4">Price:</div>
                            <div class="col-sm-8"><label><i class="fa fa-inr"></i> {{item.price *
                                item.quantity}} </label>
                                <span data-ng-click="vm.removeItemFromCart(item)"><i class="fa fa-trash-o pull-right" style="padding-top: 5px;cursor: pointer"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-12 pull-right">
                            <div class="col-sm-4">Weight:</div>
                            <div class="col-sm-8">
                                <label>{{item.weight*item.quantity}} Kg</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 order-outer" data-ng-hide="cartItemCount==0">
        <h3 class="tstyle col-sm-12 col-xs-12" style="padding: 10px;">Order totals</h3>

        <div class="col-sm-12 tstyle" style="font-size: 14px !important; padding: 20px;">
            <div class="col-sm-12" style="padding-left: 0px; padding-top: 10px;">
                <div class="col-sm-12" style="padding: 0px !important;">Merchandise <label class="pull-right"><i
                        class="fa fa-inr"></i> {{vm.cartTotal}}</label></div>
            </div>
            <div class="col-sm-12"
                 style="padding-left: 0px; padding-top:10px;
                 padding-bottom:10px;border-bottom: 1px #B3AFA8 solid">
                <div class="col-sm-12" style="padding: 0px !important;">Shipping <label class="pull-right"><i
                        class="fa fa-inr"></i> {{vm.shippingCost}}</label></div>
            </div>
            <div class="col-sm-12" style="padding-left: 0px; padding-top: 10px;;">
                <div class="col-sm-12" style="padding: 0px !important;">Total <label class="pull-right"><i
                        class="fa fa-inr"></i> {{vm.cartTotal+vm.shippingCost}}</label></div>
            </div>
            <div class="col-sm-12" style="padding-left:0px;padding-top: 20px;">
                <a class="btn btn-default mybtn" data-ng-click="vm.checkout()" style="width: 100%;"> Start Checkout</a>
            </div>
        </div>
        <div class="col-sm-12 tstyle" style="font-size: 14px !important; padding: 20px; margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12" style="padding-left: 0px; padding-top: 10px; ">
                <a data-ng-click="vm.enableCouponEditor()"
                   style="cursor:pointer; text-decoration: none; color: #101010"><i
                        class="fa fa-plus"></i> Add Promotion</a>

                <div class="row" style="padding: 10px;" data-ng-show="vm.showCouponEditor">
                    <div class="col-sm-12" style="padding: 0px;">
                        <div class="hidden-panel" id="coupon">
                            <form name="form" role="form" method="post">
                                <div class="form-group"
                                     ng-class="{'has-error': form.code.$dirty && form.code.$error.required}">
                                    <label class="sr-only" for="code">Enter coupon code</label>
                                    <input type="text" class="form-control col-xs-12" id="code" name="code"
                                           placeholder="Enter coupon code" required="">
                                    <span ng-show="form.code.$dirty && form.code.$error.required" class="help-block">Coupon code is required</span>
                                </div>
                                <input class="btn btn-default mybtn" type="submit" name="apply-coupon"
                                       value="Apply Coupon" data-ng-click="vm.applyCoupon();form.$setPristine()"
                                       data-ng-disabled="form.$invalid" style="margin-top: 5px;">
                                <input class="btn btn-default" type="submit" name="apply-coupon"
                                       value="Cancel" data-ng-click="vm.cancelCoupon()" style="margin-top: 5px;">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>