<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Provide platform to people to encash their cooking skills">
    <meta name="author" content="Chefonia">

    <title>Chefonia- A place for true chef</title>
    <link href="lib/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/product.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="lib/karbon/overlay.css" rel="stylesheet">
    <link href="css/frontPage.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="lib/owlCarousel/owl.carousel.css" rel="stylesheet">
    <link href="lib/owlCarousel/owl.theme.css" rel="stylesheet">
    <link href="lib/owlCarousel/owl.transitions.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!--<link href="foodkart/css/scrolling-nav.min.css" rel="stylesheet">-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-ng-cloak data-ng-app="Chefonia">
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="blogo" class="navbar-brand" href="http://chefonia.com" style="text-decoration: none;">
                <img src="brand.png" style="height: 50px;width: 120px;">
            </a>
        </div>

        <div class="collapse navbar-collapse" data-ng-controller="NavbarController as vm">
            <ul class="nav navbar-nav pull-right" data-ng-cloak>
                <li ng-if="!isLoggedIn"><a href="#/login" data-toggle="collapse"
                                           data-target=".navbar-collapse.in" style="cursor: pointer">Login</a></li>
                <li ng-if="!isLoggedIn"><a href="#/register" data-toggle="collapse"
                                           data-target=".navbar-collapse.in" style="cursor: pointer">Sign up</a></li>
                <li ng-if="isLoggedIn"><a data-toggle="collapse"
                                          data-target=".navbar-collapse.in" style="cursor: pointer">Welcome
                    {{currentUserName}} </a></li>

                <li ng-if="isLoggedIn"><a data-toggle="collapse"
                                          data-target=".navbar-collapse.in" data-ng-click="logout()"
                                          style="cursor: pointer"><i class="fa fa-heart-o">
                    <sup class="badge">{{wishListCount}}</sup>
                </i></a></li>

                <li ng-if="isLoggedIn"><a data-toggle="collapse"
                                          data-target=".navbar-collapse.in" href="#/cart"
                                          style="cursor: pointer"><i class="fa fa-shopping-cart">
                    <sup class="badge">{{cartItemCount}}</sup></i></a></li>

                <li ng-if="isLoggedIn"><a data-toggle="collapse"
                                          data-target=".navbar-collapse.in" data-ng-click="logout()"
                                          style="cursor: pointer"><i class="fa fa-bitbucket"></i></a></li>

                <li ng-if="isLoggedIn"><a data-toggle="collapse"
                                          data-target=".navbar-collapse.in" data-ng-click="logout()"
                                          style="cursor: pointer"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" style="background-color: #122b40">
    <div class="modal-dialog" style=" align-items: center;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <a href="#" style="float: right;padding: 5px 5px 5px 5px!important;"
                       class="btn btn-danger btn-circle" data-dismiss="modal"><i
                            class="fontawesome fa fa-close"></i></a>
                </div>
                <div class="row">
                    <div class="col-md-6  text-center">
                        <h4 class="loginHeader" style="color: green"> Sign in With Your Chefonia Account! </h4>
                    </div>

                    <div class="col-md-6 text-center">
                        <h4 class="loginHeader" style="color: darkred"> Register With Chefonia!</h4>
                    </div>
                </div>

            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="row">

                    <form role="form" class="col-md-5">

                        <div class="form-group">
                            <label for="usrname"><span class="fontawesome fa fa-user"></span> Username</label>
                            <input type="text" class="form-control loginInput" id="usrname" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fontawesome fa fa-anchor"></span> Password</label>
                            <input type="text" class="form-control loginInput" id="psw" placeholder="Enter password">
                        </div>
                        <div class="form-group col-md-6" style="margin-left: -15px">
                            <button type="submit" class="btn btn-success btn-block loginBtn"><span
                                    class="fontawesome fa fa-lock"></span> Login
                            </button>
                        </div>
                        <div class="form-group col-md-6 text-left"
                             style="margin-top: 5px;margin-left: -15px!important;"><a> Forgot Password ?</a>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="img/OR.png">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12" style="margin-left: -15px;margin-top: 20px">
                            <label style="font-family:Roboto Condensed, sans-serif;font-size: 24px;font-weight: 300">
                                Sign in using</label>
                        </div>
                        <div class="col-md-12" style="margin-left: -15px;margin-top: 5px">
                            <button class="btn-default fbLogin"> LOGIN WITH FACEBBOK</button>
                        </div>
                    </form>
                    <div class="col-md-2">&nbsp;</div>
                    <form role="form" class="col-md-5">
                        <div class="form-group">
                            <label for="usrname"><span class="fontawesome fa fa-user"></span> Username</label>
                            <input type="text" class="form-control loginInput" id="usrname1"
                                   placeholder="Enter UserName">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fontawesome fa fa-anchor"></span> Password</label>
                            <input type="text" class="form-control loginInput" id="psw1" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fontawesome fa fa-edit"></span> Confirm Password</label>
                            <input type="text" class="form-control loginInput" id="cnfrmpswd"
                                   placeholder="Confirm password">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fontawesome fa fa-pencil"></span> Phone Number</label>
                            <input type="text" class="form-control loginInput" id="phn" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fontawesome fa fa-qrcode"></span> Email Address</label>
                            <input type="text" class="form-control loginInput" id="email" placeholder="Email Address">
                        </div>
                        <button type="submit" class="btn btn-danger btn-block loginBtn"><span
                                class="fontawesome fa fa-lock"></span> Sign Up
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="t-content" data-ng-cloak style="background-color: #fff">
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
         ng-if="flash" ng-bind="flash.message" class="container" style="margin-bottom: 0px;"></div>
    <div data-ng-view></div>
</div>


<!-- jQuery -->
<script src="lib/jquery/jquery-2.1.1.min.js"></script>
<script src="lib/owlCarousel/owl.carousel.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<!--<script src="foodkart/js/scrolling-nav.js"></script>-->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="lib/angular/angular-cookies.min.js"></script>
<script src="js/script.min.js"></script>
<script src="js/jquery.lettering-0.6.min.js"></script>
<script src="js/jquery.textillate.min.js"></script>
<script src="pages/login/loginController.js"></script>
<script src="pages/register/registerController.js"></script>
<script src="pages/items/itemController.js"></script>
<script src="services/wishListService.js"></script>
<script src="services/authenticationService.js"></script>
<script src="services/inventoryService.js"></script>
<script src="services/flashService.js"></script>
<script src="services/userService.js"></script>
<script src="pages/address/addressController.js"></script>
<script src="services/addressService.js"></script>
<script src="pages/checkout/checkoutController.js"></script>
<script src="pages/cart/cartController.js"></script>
<script src="services/cartService.js"></script>
<script src="services/commonService.js"></script>
</body>

</html>