html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Candara', sans-serif !important;
    background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
    .heading {
        margin: 2px !important;
    }

    .alt .lead {
        margin-top: 5px;
    }

    h1 {
        font-size: 20px !important;
        font-weight: 400 !important;
    }

    .header .lead {
        font-size: 20px;
    }

    .btn-circle {
        border: 0px;
    }

    .margin-after-heading {
        margin-top: 10px;
    }

    .reg-form-size {
        font-size: 18px;
        padding: 20px;
        border-radius: 4px;
        width: 95%;
    }

    .margin-t {
        margin-top: 20px;
    }

    .ic-color {
        color: #31beb1;
    }

    .contact-section {
        padding-top: 30px !important;
    }

    .background {
        background-image: url(../img/t3.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-color: rgba(49, 190, 177, 0.1) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 38px;
    }

    .header .lead {
        font-size: 26px;
    }

    .margin-after-heading {
        margin-top: 20px;
    }

    .reg-form-size {
        font-size: 16px;
        padding: 20px;
        border-radius: 6px;
        width: 70% !important;
    }

    .margin-t {
        margin-top: 30px;
    }

    .background {
        background-image: url(../img/t2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-color: rgba(49, 190, 177, 0.1) !important;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 42px;
    }

    .header .lead {
        font-size: 32px;
    }

    .btn-circle {
        border: 2px solid #111c3a;
        border-radius: 100% !important;
    }

    .margin-after-heading {
        margin-top: 30px;
    }

    .reg-form-size {
        font-size: 16px;
        padding: 20px;
        border-radius: 6px;
        width: 50% !important;
    }

    .margin-t {
        margin-top: 40px;
    }

    .background {
        background-image: url(../img/t1.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-color: rgba(49, 190, 177, 0.1) !important;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 46px;
    }

    .header .lead {
        font-size: 21px;
    }

    .btn-circle {
        border: 2px solid #111c3a;
        border-radius: 100% !important;
    }

    .margin-after-heading {
        margin-top: 40px;
    }

    .reg-form-size {
        font-size: 16px;
        padding: 20px;
        border-radius: 6px;
        width: 50% !important;
    }

    .margin-t {
        margin-top: 40px;
    }

    .background {
        background: linear-gradient(rgba(255, 255,255, 0.8),rgba(255, 255, 255, 0.6)),url(../img/t1.png); background-size: cover;
            }

}

#register ul li p {
    font-size: 18px;
}

p {
    font-size: 18px;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;

}

/* fix bs3 horizontal scrollbar bug */
.row {
    margin: 0;
    padding: 0
}

/* use special fonts in certain elements */
h1, h2, h3, h4, .lead, .btn, .navbar a {
    font-weight: 300;
}

h1 {
    text-align: center;
}

.navbar {
    #background-color: rgba(49, 190, 177, 0.5);
    background-color: #EB5C31;
}

.navbar a {
    color: #ffffff;
    font-size: 18px;
    z-index: 10;
}

.icon-bar {
    background-color: #fff;
}

.scroll-down a, .scroll-top a {
    color: #111c3a;
}

.scroll-down {
    position: fixed;
    bottom: 20%;
    right: 0%;
    color: #f9f9f9;
}

.scroll-top {
    background-color: #dbdbdb;
}

.vert {
    vertical-align: middle;
    width: 100%;
    min-height: 250px;
    margin-top: 20px;

}

.link {
    cursor: pointer;
}

menu a:hover {
    color: #111c3a;
}

.header .btn-lg {
    font-size: 28px;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: 4px solid #fff;;
    z-index: 10;
}

.header .btn-lg:hover {
    background-color: #eeeeee;
    color: #777777;
}

.navbar a:hover {
    background-color: #ffffff;
}

.navbar-bold.affix {
    background-color: #d46054;
}

.navbar-bold {
    background-color: #ffffff;
}

.navbar-header a:hover {
    background-color: #ffffff;
}

.nav li a:hover {
    background-color: #ffffff;
}

.header h1 {
    font-weight: 300;
    color: #111c3a;
    margin-bottom: 5px;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.t-content {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -120px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.my-footer, .push {
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
}

.t-sub-content {
    height: 75%;
}

.reg-layer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #31beb1;
}

.alt {
    text-decoration: double;
    text-align: center;
    padding-top: 10px;
    color: #111c3a;
}

.alt .lead {
    color: #111c3a;
}

.headerImage {
    float: left;
}

.headerImage2 {
    float: right;
}

.headerImage .img {
    padding-top: 30%;
    width: 200px;
    height: 200px;

}

.headerImage2 .img {
    padding-top: 30%;
    width: 200px;
    height: 200px;

}

.alt.affix {
    background-color: #111c3a;
}

.alt li a:hover, .alt li.active {
    background-color: #111c3a;
}

.blurb .panel {
    background-color: transparent;
}

#graph-v ul {
    padding: 0px;
    margin-top: 40px;
}

#graph-v ul li {
    display: inline-block;
    padding-left: 0px;
    margin-right: 2%;
    width: 14%;
    text-align: center;
    vertical-align: top;
    font-size: 16px;
}

#graph-v ul li span {
    font-size: 60px;
    color: #31beb1; /*color: #E6E6E6;*/
    display: inline-block;

}

#graph-v ul p {
    font-size: 14px;
    color: #111c3a;
}

/*html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 120px; /!* bottom = footer height *!/
}*/
/*
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
}
*/

.my-footer {
    color: #111c3a;
    font-size: 12px !important;
}

.blockquote-reverse {
    border-right: 5px solid #f2dede;
}

/* -- end custom css for Bootstrap 3.x --*/

/*
.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding: 2px 10px;
    font-size: 35px;
    color: #1F2B38;
    /!* background: 0 0; *!/
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #1F2B38;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
*/
