<div class="navbar navbar-fixed-top" style="margin-bottom: 0px">
    <div class="container">
        <div id="header" class="navbar-header">
            <a class="header-link navbar-brand" href="http://chefonia.com">
                <img src="brand.png" class="img-responsive"> </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-ng-controller="NavbarController as vm">
            <ul class="nav navbar-nav pull-right">
                <li ng-if="!isLoggedIn" class="hidden-xs">
                    <a class="btn btn-default btn-lg mybtn text-center" data-ng-click="vm.login()"
                       style="padding-left: 30px;padding-right: 30px;">Login or Signup </a>
                </li>
                <li ng-if="!isLoggedIn" class="hidden-lg hidden-md hidden-sm">
                    <button data-toggle="collapse" data-target=".navbar-collapse.in" href="#login_mble"
                       style="padding: 0;">Login</button>
                </li>

                <li ng-if="isLoggedIn" style="text-decoration: none">
                    <a class="mylink" data-toggle="collapse" data-target=".navbar-collapse.in" href="#/cart"
                                          style="cursor: pointer;text-decoration: none"><i class="fa fa-shopping-cart">
                    <sup class="badge">{{cartItemCount}}</sup></i></a>
                </li>

                <li ng-if="isLoggedIn" style="align-content: center">
                    <div class="dropdown" style="padding-top: 0px;padding-bottom: 0px;margin-top: 8px">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="profileNav"
                                data-toggle="dropdown" style="font-size: 20px;font-weight: 500">
                            Welcome, {{currentUser.userName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/orders">Your Orders</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-ng-click="vm.logout()">Sign Out?</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
