<div data-ng-controller="NavbarController as vm" class="hidden-sm hidden-lg hidden-md" style="padding: 0">
    <div class="col-xs-6 mobileView">
        <div data-ng-hide="isLoggedIn"
             style="padding-right: 0px;padding-top: 5px;">
            <div class="pull-right" style="font-size: 25px; color: #FFFFFF">
                <i class="fa fa-shopping-cart" style="padding-right:10px;">
                    <sup style="top: -1em;margin-left: -10px;" class="badge">0</sup>
                </i>
                <i class="fa fa-sign-in" data-ng-click="vm.mobileLogin()" style="margin-right: -15px"></i>
            </div>
        </div>
        <div data-ng-show="isLoggedIn" style="float: right;padding-top: 5px;">
            <a href="#!cart" style="color: #f2f2f2"> <i class="fa fa-shopping-cart"
                                                        style="padding-right:15px;font-size: 25px;margin-top: 3px;">
                <sup style="top: -1em;margin-left: -10px;" class="badge">{{cartItemCount}}</sup>
            </i></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                    style="padding: 0px; margin-right: -15px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
        <div class="collapse navbar-collapse" style="width: 100%;padding-right: 0px;">
            <ul class="pull-right" style="padding-top: 10px; color: white;width: 100%;text-align: right">
                <li data-toggle="collapse" data-target=".navbar-collapse"  style="padding-top: 15px;font-size: 16px">Welcome, {{currentUser.userName}}
                </li>
                <li style="padding-top: 15px;font-size: 16px;"><a data-ng-click="vm.home()"
                                                                data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-home"></i> Home </a>
                </li>
                <li class="divider"></li>
                <li style="padding-top: 15px; font-size: 16px;"><a
                        data-toggle="collapse" data-target=".navbar-collapse" href="#!orders"><i class="fa fa-list-ol"></i> Your orders
                    </a>
                </li>
                <li style="padding-top: 15px;font-size: 16px;"><a data-toggle="collapse" data-target=".navbar-collapse"
                                                                data-ng-click="vm.mobileLogout()"><i class="fa fa-sign-out"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>