<div class="checkout" style="text-align: left">
    <div class="container" style="padding-bottom: 20px;">

        <!--Expandable Panels-->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title" style="padding: 10px;">Reset password</h1>

            </div>
        </div>

        <div class="row" style="padding-left: 5px;">
            <form role="form" name="resetForm" class="col-md-5 col-sm-5 col-xs-12">

                <div class="form-group">
                    <label for="newPwd"><span class="fa fa-key"></span> New Password </label>
                    <input type="password" class="form-control loginInput" id="newPwd" name="newPwd"
                           data-ng-model="vm.password.newPWD" placeholder="Enter new password" required="">

                    <div class="has-error ng-hide" ng-messages="resetForm.newPwd.$error" ng-show="resetForm.newPwd.$touched">
                        <p class="help-block errorMsg" ng-show="resetForm.newPwd.$error.required" ng-message="required">
                            New password is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nCnfPwd"><span class="fa fa-key"></span> Confirm New Password</label>
                    <input type="password" class="form-control loginInput" id="nCnfPwd" name="nCnfPwd"
                           data-ng-model="vm.password.cnfPWD" placeholder="Enter Confirm new password" required="">
                    <div class="has-error ng-hide" ng-messages="resetForm.nCnfPwd.$error" ng-show="resetForm.nCnfPwd.$touched">
                        <p class="help-block errorMsg" ng-show="resetForm.nCnfPwd.$error.required" ng-message="required">
                            Confirm New Password is required</p>
                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-left: -15px">
                    <button type="submit" class="btn btn-default mybtn"
                            data-ng-click="vm.reset();" ng-disabled="reset-form.$invalid ||reset-form.$pristine"
                            disabled="disabled"><span class="fontawesome fa fa-lock"></span> Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="push"></div>
</div>
