<div class="modal fade" id="myModal" role="dialog" style="background-color: #122b40"
     data-ng-controller="LoginController as vm">
    <div class="modal-dialog" style=" align-items: center;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 0px;border: none;">
                <div>
                    <div class="col-sm-12 pull-right" style="padding-right: 0px !important;">
                        <a href="#" style="float: right;padding: 5px !important;" class="btn btn-danger btn-circle"
                           data-dismiss="modal">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body row" style="padding:10px 40px 50px;">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <form role="form" name="loginform">
                        <h4 class="loginHeader" style="color: green;margin-bottom: 30px"> Sign in With Your Chefonia
                            Account! </h4>
                        <label ng-if="vm.pageMsg.length!=0" style="color: red">{{vm.pageMsg}}</label>

                        <div class="form-group">
                            <label for="usrname"><span class="fa fa-envelope-o fa-fw"></span> Email </label>
                            <input type="text" class="form-control loginInput" id="usrname" name="userName"
                                   data-ng-model="vm.user.email" placeholder="Enter email or phone number" required="" tabindex="1">

                            <div class="has-error ng-hide" ng-messages="loginform.userName.$error" maxlength="30"
                                 ng-show="loginform.userName.$touched && !loginForm.username.$pristine">
                                <p class="help-block" ng-show="loginform.userName.$error.required"
                                   ng-message="required">
                                    Your user name is required.</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fa fa-key"></span> Password</label>
                            <input type="password" class="form-control loginInput" id="psw" name="userPassword"
                                   data-ng-model="vm.user.password" placeholder="Enter password" required="" tabindex="2">

                            <div class="help-block has-error ng-hide" ng-messages="loginform.userPassword.$error"
                                 ng-show="loginform.userPassword.$touched">
                                <p class="help-block" ng-show="loginform.userPassword.$error.required"
                                   ng-message="required">Your password is required.</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6" style="margin-left: -15px">
                            <a type="submit" class="btn btn-success btn-block loginBtn" data-ng-hide="vm.isLogging"
                               data-ng-click="vm.login();loginform.$setPristine()" ng-disabled="loginform.$invalid" tabindex="-1"
                               disabled="disabled"><span class="fontawesome fa fa-lock"></span> Login
                            </a>
                            <a type="submit" class="btn btn-danger btn-block loginBtn disabled"
                               data-ng-show="vm.isLogging"><span class="fa fa-spinner fa-spin"></span> Logging</a>
                        </div>
                        <div class="form-group col-md-6 text-left"
                             style="margin-top: 5px;margin-left: -15px!important;">
                            <a ng-click="vm.passwordReset()" style="cursor: pointer"> Forgot Password ?</a>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <div ng-if="vm.resetSectionVisible" style="padding-left: 0px;">
                        <form role="form" name="reset">
                            <div class="form-group">
                                <label><span class="fa fa-envelope-o fa-fw"></span>Enter Email Address</label>
                                <input type="email" class="form-control loginInput" name="userEmail" id="email"
                                       data-ng-model="vm.user.resetEmail" placeholder="Email Address" required=""
                                       autocomplete="off">

                                <div class="has-error ng-hide" ng-messages="reset.userEmail.$error"
                                     ng-show="reset.userEmail.$touched">
                                    <p class="help-block errorMsg" ng-show="reset.userEmail.$error.required"
                                       ng-message="required">Your email is required.</p>

                                    <p class="help-block errorMsg" ng-show="reset.userEmail.$error.email">
                                        Your email is not valid.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-left: -15px;margin-top: 5px">
                                <a data-ng-hide="vm.isPasswordChanging" class="btn btn-success btn-block resetBtn"
                                   data-ng-click="vm.reset();reset.$setPristine()"
                                   ng-disabled="reset.userEmail.$invalid"
                                   disabled="disabled"><span class="fa fa-lock"></span> Send Password
                                </a>
                                <a data-ng-show="vm.isPasswordChanging"
                                   class="btn btn-success btn-block resetBtn disabled"><span
                                        class="fa fa-spinner fa-spin"></span> Sending Mail
                                </a>
                            </div>
                            <div class="col-md-12" style="padding-left: 0px">
                                <label>{{vm.message}}</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div ng-include="'pages/register/register.html'"></div>
                </div>

            </div>
        </div>

    </div>

</div>
</div>
