<div  class="modal fade" id="myModal" role="dialog"  style="background-color: #122b40" data-ng-controller="LoginController as vm">
    <div  class="modal-dialog" style=" align-items: center;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 0px;border: none;">
                <div class="row">
                    <a href="#" style="float: right;padding: 5px 5px 5px 5px!important;" class="btn btn-danger btn-circle" data-dismiss="modal"><i class="fontawesome fa fa-close"></i></a>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-sm-6  text-center">-->
                        <!--<h4 class="loginHeader" style="color: green"> Sign in With Your Chefonia Account! </h4>-->
                    <!--</div>-->

                    <!--<div class="col-md-6 col-sm-6 text-center">-->
                        <!--<h4 class="loginHeader" style="color: darkred"> Register With Chefonia!</h4>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
            <div class="modal-body row" style="padding:10px 40px 50px;">
                    <form role="form" name="loginform" class="col-md-5 col-sm-5 col-xs-12">
                        <h4 class="loginHeader" style="color: green;margin-bottom: 30px"> Sign in With Your Chefonia Account! </h4>
                        <div class="form-group">
                            <label for="usrname"><span class="fontawesome fa fa-user"></span> Username</label>
                            <!--<input name="username" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" type="text"-->
                                   <!--placeholder="Your full name" required="" data-ng-model="chef.name" maxlength="30" data-ng-pattern="/^[a-zA-Z ]*$/">-->
                            <input type="text" class="form-control loginInput" id="usrname" name="userName" data-ng-model="vm.user.email" placeholder="Enter email or phone number" required="">
                            <div class="has-error ng-hide" ng-messages="loginform.userName.$error" maxlength="30" ng-show="loginform.userName.$touched && !loginForm.username.$pristine">
                                <p class="help-block" ng-show="loginform.userName.$error.required" ng-message="required">Your user name is required.</p>
                            </div>
                            <!--<div class="help-block has-error pull-left ng-hide" ng-show="loginform.userName.$error.required && ! loginform.userName.$pristine">-->
                                <!--Full name is required-->
                            <!--</div>-->
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="fontawesome fa fa-key"></span> Password</label>
                            <input type="password" class="form-control loginInput" id="psw" name="userPassword" data-ng-model="vm.user.password" placeholder="Enter password" required="">
                            <div class="help-block has-error ng-hide" ng-messages="loginform.userPassword.$error" ng-show="loginform.userPassword.$touched">
                                <p class="help-block" ng-show="loginform.userPassword.$error.required" ng-message="required">Your password is required.</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6" style="margin-left: -15px">
                            <button type="submit" class="btn btn-success btn-block loginBtn" data-ng-click="vm.login();loginform.$setPristine()" ng-disabled="loginform.$invalid" disabled="disabled"><span class="fontawesome fa fa-lock" ></span> Login</button>
                        </div>
                        <div class="form-group col-md-6 text-left" style="margin-top: 5px;margin-left: -15px!important;">
                            <a href="#" ng-click="vm.passwordReset()"> Forgot Password ?</a>
                        </div>
                        <!--<div class="col-md-12 text-center">-->
                            <!--<img src="img/OR.png">-->
                        <!--</div>-->
                        <div class="clearfix"></div>
                        <label for="psw"  class="help-block has-error">{{vm.message}}</label>
                        <div class='col-sm-12' ng-if="vm.resetSectionVisible">
                            <div ng-class="{'has-error': loginform.userEmail.$invalid && loginform.userEmail.$dirty}">
                                <label ><span class="fontawesome fa fa-mail-reply"></span> Email Address</label>
                                <input type="email" class="form-control loginInput" name="userEmail" id="email" data-ng-model="vm.user.email" placeholder="Email Address" required="">
                                <div class="has-error ng-hide" ng-messages="loginform.userEmail.$error"  ng-show="loginform.userEmail.$touched">
                                    <p class="help-block errorMsg" ng-show="loginform.userEmail.$error.required" ng-message="required">Your email is required.</p>
                                    <p class="help-block errorMsg" ng-show="loginform.userEmail.$error.email">
                                        Your email is not valid.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-left: -15px;margin-top: 5px">
                                <button type="submit" class="btn btn-success btn-block resetBtn" data-ng-click="vm.reset();userEmail.$setPristine()" ng-disabled="userEmail.$invalid" disabled="disabled"><span class="fontawesome fa fa-lock" ></span> Send Password</button>
                            </div>
                        </div>

                        <!--<div class="col-md-12" style="margin-left: -15px;margin-top: 20px">-->
                            <!--<label style="font-family:Roboto Condensed, sans-serif;font-size: 24px;font-weight: 300"> Sign in using</label>-->
                        <!--</div>-->
                        <!--<div class="col-md-12" style="margin-left: -15px;margin-top: 5px">-->
                            <!--<button class="btn-default fbLogin"> LOGIN WITH FACEBOOK</button>-->
                        <!--</div>-->
                    </form>
                    <div class="col-md-2 col-sm-2">&nbsp;</div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div ng-include="'pages/register/register.html'"></div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
