<div  data-ng-controller="RegisterController as vm">
<form role="form" name="registerForm"   style="margin-right: 5px">
    <h4 class="loginHeader" style="color: darkred;margin-bottom: 30px"> Register With Chefonia!</h4>
    <div class="form-group">
        <label ><span class="fontawesome fa fa-user"></span> Name</label>
        <input type="text" class="form-control loginInput" id="usrname1" name="userName" data-ng-model="vm.user.name" ng-minlength="3" data-ng-pattern="/^[A-z ]+$/"  placeholder="Enter your name" required="">
        <div class="has-error ng-hide" ng-messages="registerForm.userName.$error" maxlength="30" ng-show="registerForm.userName.$touched">
            <p class="help-block errorMsg" ng-show="registerForm.userName.$error.required" ng-message="required">Your name is required.</p>
            <p class="help-block errorMsg" ng-show="(registerForm.userName.$error.minlength||registerForm.userName.$error.pattern)">
                Your name is invalid.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label ><span class="fontawesome fa fa-key"></span> Password</label>
        <input type="password" class="form-control loginInput" id="psw1" data-ng-model="vm.user.password" name="userPassword" placeholder="Enter password" required="">
        <div class="has-error ng-hide" ng-messages="registerForm.userPassword.$error" maxlength="30" ng-show="registerForm.userPassword.$touched">
            <p class="help-block errorMsg" ng-show="registerForm.userPassword.$error.required" ng-message="required">Your password is required.</p>
        </div>
    </div>
    <div class="form-group">
        <label ><span class="fontawesome fa fa-key"></span> Confirm Password</label>
        <input type="password" class="form-control loginInput" id="cnfrmPswd" data-ng-model="vm.user.cnfrmPswd" name="cnfrmPswd" placeholder="Enter password" required="">
        <div class="has-error ng-hide" ng-messages="registerForm.cnfrmPswd.$error" maxlength="30" ng-show="registerForm.cnfrmPswd.$touched">
            <p class="help-block errorMsg" ng-show="registerForm.cnfrmPswd.$error.required" ng-message="required">Your password is required.</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': registerForm.userPhone.$invalid &amp;&amp; registerForm.userPhone.$dirty}">
        <label ><span class="fontawesome fa fa-mobile"></span> Phone Number</label>
        <input type="text" class="form-control loginInput" id="phn" name="userPhone" ng-minlength="10" data-ng-pattern="/^\d+$/" maxlength="10" data-ng-model="vm.user.mobile" placeholder="Phone Number" required="">
        <div class="has-error ng-hide" ng-messages="registerForm.userPhone.$error"  ng-show="registerForm.userPhone.$touched">
            <p class="help-block errorMsg" ng-show="registerForm.userPhone.$error.required" ng-message="required">Your phone is required.</p>
            <p class="help-block errorMsg" ng-show="(registerForm.userPhone.$error.minlength||registerForm.userPhone.$error.pattern)">
                Your mobile number should have 10 numeric digits.
            </p>
        </div>

    </div>
    <div class="form-group" ng-class="{'has-error': registerForm.userEmail.$invalid && registerForm.userEmail.$dirty}">
        <label ><span class="fontawesome fa fa-mail-reply"></span> Email Address</label>
        <input type="email" class="form-control loginInput" name="userEmail" id="email" data-ng-model="vm.user.email" placeholder="Email Address" required="">
        <div class="has-error ng-hide" ng-messages="registerForm.userEmail.$error"  ng-show="registerForm.userEmail.$touched">
            <p class="help-block errorMsg" ng-show="registerForm.userEmail.$error.required" ng-message="required">Your email is required.</p>
            <p class="help-block errorMsg" ng-show="registerForm.userEmail.$error.email">
                Your email is not valid.
            </p>
        </div>
    </div>
    <button type="submit" class="btn btn-danger btn-block loginBtn" data-ng-click="vm.register();registerForm.$setPristine()" ng-disabled="registerForm.$invalid" disabled="disabled"><span class="fontawesome fa fa-lock"></span> Sign Up</button>
</form>
</div>