<div id="homeCarousel" style="margin-top:-20px;padding-top: 0;width: 100%;overflow-x: hidden;height: 100% "
     class="carousel slide hidden-xs hidden-sm">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Items -->
    <div class="carousel-inner">

        <!-- Item 1 -->
        <div class="item active" style="background: #4B5B5E">
            <img class="sliderImg" bn-lazy-src="front.jpg"/>

            <div class="container">
                <div class="carousel-caption">
                    <p class="frontCarouselHeading">Your Personal home chef</p>

                    <p class="frontCarouselText">Browse home made items made from wisely chosen expert
                        chefs.</p>

                    <p><a class="myButton btn-lg" href="categories">See Everything</a>
                    </p></div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="item">
            <img class="sliderImg" src="choco.jpg"/>

            <div class="container">
                <div class="carousel-caption">
                    <p class="frontCarouselHeading">Awesome homemade chocolates</p>

                    <p class="frontCarouselText">Order delicious home made chocolates with beautiful
                        packaging. </p>

                    <p><a class="myButton btn-large" href="item/Chocolates/All">View Chocolates</a></p>
                </div>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="item">
            <img class="sliderImg " src="snacks.jpg"/>

            <div class="container">
                <div class="carousel-caption">
                    <p class="frontCarouselHeading">Homemade snacks at amazing rates</p>

                    <p class="frontCarouselText">Get best quality snacks, prepared on demand specially for
                        you.</p>

                    <p><a class="myButton btn-large" href="item/Snacks/All">Browse Snacks</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- search window-->
<div class="divElement container">
    <div class="container">
        <div class="locationdiv inner-addon left-addon col-md-3 col-sm-3 col-xs-12">
            <!--<span>  <i class="fa fa-location-arrow"></i></span>-->
            <button data-toggle="dropdown"
                    class="location form-control dropdown-toggle" style="text-align: left;">
                <span><i class="fa fa-location-arrow"></i> {{vm.city}} Chef's Items</span>
            </button>
            <ul class="dropdown-menu list-group-item-heading"
                style="width: 100%;padding: 0;margin-top: 5px">
                <li class="list-group-item"
                    style="cursor: pointer;"
                    ng-repeat="city in vm.cityList" data-ng-click="vm.cityChange(city)">
                    <span style="margin-left: 10px;font-weight: 400;font-family:'Tahoma', Geneva, sans-serif">{{city}} Chef's Items</span>
                </li>
            </ul>
        </div>
        <div class="fooddiv inner-addon left-addon col-md-6 col-sm-6 col-xs-12">
            <span>  <i class="fontawesome fa fa-cutlery"></i></span>
            <input data-toggle="dropdown" class="form-control dropdown-toggle delicacy" type="text"
                   placeholder="Search Homemade Delicacies" ng-model="search.$">
            <ul class="dropdown-menu list-group"
                style="width: 100%;z-index: 9999;overflow: visible;padding: 0px;margin-top: 5px">
                <li id="jquery-list-view-limit" class="list-group-item itemlist"
                    ng-repeat="snack in vm.foodList | filter:search:strict | limitTo:7"
                    style="cursor: pointer;" data-ng-click="vm.foodChange(snack)">
                    <span class="badge">Popularity ***</span>{{snack}}
                </li>
                <li class="list-group-item disabled"
                    ng-show="(vm.popularFoodList | filter:search:strict | limitTo:0).length">Popular
                    Delicacies
                </li>
                <li class="list-group-item" style="cursor: pointer;"
                    ng-repeat="snack in vm.popularFoodList | filter:search:strict | limitTo:0"
                    data-ng-click="vm.foodChange(snack)">
                    <span class="badge">Popularity *****</span>{{snack}}
                </li>
                <li class="list-group-item disabled"
                    ng-show="(vm.newFoodList | filter:search:strict).length">
                    Newly Launched Delicacies
                </li>
                <li class="list-group-item" style="cursor: pointer;"
                    ng-repeat="snack in vm.newFoodList | filter:search:strict"
                    data-ng-click="vm.foodChange(snack)">
                    <span class="badge">New</span>{{snack}}
                </li>
            </ul>
        </div>
        <div class="searchdiv col-md-2 col-sm-3 col-xs-12"
             style="padding-left: 0px;padding-right:0px;height: 45px;">
            <a href="" data-ng-click="vm.loadItems()" class="btn btn-info btn-lg" id="searchbtn">
                <span class="fontawesome fa fa-search" style="align-content: center"></span> Search All</a>
        </div>
    </div>
</div>