<div>
    <!-- Carousel -->
    <div style="height: 70%">
        <div id="homeCarousel" style="margin-top:-20px;padding-top: 0;width: 100%;overflow-x: hidden;height: 100% "
             class="carousel slide hidden-xs hidden-sm">
            <!-- Menu -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Items -->
            <div class="carousel-inner">

                <!-- Item 1 -->
                <div class="item active" style="background: #4B5B5E">
                    <img class="sliderImg" bn-lazy-src="front.jpg"/>
                    <div class="container">
                        <div class="carousel-caption">
                            <p class="frontCarouselHeading">Your Personal home chef</p>

                            <p class="frontCarouselText">Browse home made items made from wisely chosen expert
                                chefs.</p>

                            <p><a class="myButton btn-lg" href="#!categories">See Everything</a>
                            </p></div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="item" >
                    <img class="sliderImg" src="choco.jpg"/>

                    <div class="container">
                        <div class="carousel-caption">
                            <p class="frontCarouselHeading">Awesome homemade chocolates</p>

                            <p class="frontCarouselText">Order delicious home made chocolates with beautiful packaging. </p>

                            <p><a class="myButton btn-large" href="#!item/Chocolates/All">View Chocolates</a></p>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="item">
                    <img class="sliderImg " src="snacks.jpg"/>

                    <div class="container">
                        <div class="carousel-caption">
                            <p class="frontCarouselHeading">Homemade snacks at amazing rates</p>

                            <p class="frontCarouselText">Get best quality snacks, prepared on demand specially for you.</p>

                            <p><a class="myButton btn-large" href="#!item/Snacks/All">Browse Snacks</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
            <!--<span class="icon-prev"></span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
            <!--<span class="icon-next"></span>-->
            <!--</a>-->
            <!--<div id="carouselButtons">-->
            <!--<button id="playButton" type="button" class="btn btn-default btn-xs">-->
            <!--<span class="glyphicon glyphicon-play"></span>-->
            <!--</button>-->
            <!--<button id="pauseButton" type="button" class="btn btn-default btn-xs">-->
            <!--<span class="glyphicon glyphicon-pause"></span>-->
            <!--</button>-->
            <!--</div>-->
            <div class="divElement container">
                <div class="container">
                    <div class="locationdiv inner-addon left-addon col-md-3 col-sm-3 col-xs-12">
                        <!--<span>  <i class="fa fa-location-arrow"></i></span>-->
                        <button data-toggle="dropdown"
                                class="location form-control dropdown-toggle" style="text-align: left;">
                            <span><i class="fa fa-location-arrow"></i> {{vm.city}} Chef's Items</span>
                        </button>
                        <ul class="dropdown-menu list-group-item-heading"
                            style="width: 100%;padding: 0;margin-top: 5px">
                            <li class="list-group-item"
                                style="cursor: pointer;"
                                ng-repeat="city in vm.cityList" data-ng-click="vm.cityChange(city)">
                                <span style="margin-left: 10px;font-weight: 400;font-family:'Tahoma', Geneva, sans-serif">{{city}} Chef's Items</span>
                            </li>
                        </ul>
                    </div>
                    <div class="fooddiv inner-addon left-addon col-md-6 col-sm-6 col-xs-12">
                        <span>  <i class="fontawesome fa fa-cutlery"></i></span>
                        <input data-toggle="dropdown" class="form-control dropdown-toggle delicacy" type="text"
                               placeholder="Search Homemade Delicacies" ng-model="search.$">
                        <ul class="dropdown-menu list-group"
                            style="width: 100%;z-index: 9999;overflow: visible;padding: 0px;margin-top: 5px">
                            <li id="jquery-list-view-limit" class="list-group-item itemlist"
                                ng-repeat="snack in vm.foodList | filter:search:strict | limitTo:7"
                                style="cursor: pointer;" data-ng-click="vm.foodChange(snack)">
                                <span class="badge">Popularity ***</span>{{snack}}
                                </l i>
                            <li class="list-group-item disabled"
                                ng-show="(vm.popularFoodList | filter:search:strict | limitTo:0).length">Popular
                                Delicacies
                            </li>
                            <li class="list-group-item" style="cursor: pointer;"
                                ng-repeat="snack in vm.popularFoodList | filter:search:strict | limitTo:0"
                                data-ng-click="vm.foodChange(snack)">
                                <span class="badge">Popularity *****</span>{{snack}}
                            </li>
                            <li class="list-group-item disabled"
                                ng-show="(vm.newFoodList | filter:search:strict).length">
                                Newly Launched Delicacies
                            </li>
                            <li class="list-group-item" style="cursor: pointer;"
                                ng-repeat="snack in vm.newFoodList | filter:search:strict"
                                data-ng-click="vm.foodChange(snack)">
                                <span class="badge">New</span>{{snack}}
                            </li>
                        </ul>
                    </div>
                    <div class="searchdiv col-md-2 col-sm-3 col-xs-12"
                         style="padding-left: 0px;padding-right:0px;height: 45px;">
                        <a href="" data-ng-click="vm.loadItems()" class="btn btn-info btn-lg" id="searchbtn">
                            <span class="fontawesome fa fa-search" style="align-content: center"></span> Search All</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div lazy-background class="frontcontainer  col-xs-12 col-sm-12 hidden-lg hidden-md"
         style="margin-top: -25px;background-color: #1b6d85">
        <div class="divElementMble">
            <div class="container">
                <div class="locationdiv inner-addon left-addon col-md-3 col-sm-3 col-xs-12">
                    <!--<span>  <i class="fa fa-location-arrow"></i></span>-->
                    <button data-toggle="dropdown"
                            class="location form-control dropdown-toggle" style="text-align: left;">
                        <span><i class="fa fa-location-arrow"></i> {{vm.city}} Chef's Items</span>
                    </button>
                    <ul class="dropdown-menu list-group-item-heading" style="width: 100%;padding: 0;margin-top: 5px">
                        <li class="list-group-item"
                            style="cursor: pointer;"
                            ng-repeat="city in vm.cityList" data-ng-click="vm.cityChange(city)">
                            <span style="margin-left: 10px;font-weight: 400;font-family:'Tahoma', Geneva, sans-serif">{{city}} Chef's Items</span>
                        </li>
                    </ul>
                </div>
                <div class="fooddiv inner-addon left-addon col-md-7 col-sm-6 col-xs-12">
                    <span>  <i class="fontawesome fa fa-cutlery"></i></span>
                    <input data-toggle="dropdown" class="form-control dropdown-toggle delicacy" type="text"
                           placeholder="Search Homemade Delicacies" ng-model="search.$">
                    <ul class="dropdown-menu list-group"
                        style="width: 100%;z-index: 9999;overflow: visible;padding: 0px;margin-top: 5px">
                        <li id="jquery-list-view-limit" class="list-group-item itemlist"
                            ng-repeat="snack in vm.foodList | filter:search:strict | limitTo:10"
                            style="cursor: pointer;" data-ng-click="vm.foodChange(snack)">
                            <span class="badge">Popularity ***</span>{{snack}}
                        </li>
                        <li class="list-group-item disabled"
                            ng-show="(vm.popularFoodList | filter:search:strict | limitTo:0).length">Popular Delicacies
                        </li>
                        <li class="list-group-item" style="cursor: pointer;"
                            ng-repeat="snack in vm.popularFoodList | filter:search:strict | limitTo:0"
                            data-ng-click="vm.foodChange(snack)">
                            <span class="badge">Popularity *****</span>{{snack}}
                        </li>
                        <li class="list-group-item disabled" ng-show="(vm.newFoodList | filter:search:strict).length">
                            Newly Launched Delicacies
                        </li>
                        <li class="list-group-item" style="cursor: pointer;"
                            ng-repeat="snack in vm.newFoodList | filter:search:strict"
                            data-ng-click="vm.foodChange(snack)">
                            <span class="badge">New</span>{{snack}}
                        </li>
                    </ul>
                </div>
                <div class="searchdiv col-md-2 col-sm-3 col-xs-12"
                     style="padding-left: 0px;padding-right:0px;height: 45px;">
                    <a href="" data-ng-click="vm.loadItems()" class="btn btn-info btn-lg" id="searchbtn">
                        <span class="fontawesome fa fa-search" style="align-content: center"></span> Search All</a>
                </div>
            </div>
        </div>
    </div>

    <div id="dishes" class="hidden-xs">
        <div>
            <div>
                <div class="col-md-12 page-title" style="background: teal !important;color: white !important;">
                    <div class="container">Popular Dishes</div>
                </div>
                <div>
                    <div class="col-md-12" style="margin-top: 20px;">
                        <div style="float: left;position: absolute;bottom: 50%;margin-left: 30px;z-index: 666">
                            <a class="prev" id="popularowlPrev">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" style="color: teal"></i>
                                    <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                        <div class="container">
                            <data-owl-carousel style="height: 280px;width: auto;margin-left: 35px"
                                               id="owl-demo" class="owl-carousel" data-options="{rewindNav : true}">
                                <div owl-carousel-item="" ng-repeat="item in vm.slides" class="item"
                                     style="width: 275px;margin-right: 20px;border: none">
                                    <div class="thumbnail">
                                        <img bn-lazy-src="img/md/{{item.imageHash}}.png"
                                             class="bn-lazy-img popularimg img-responsive">

                                        <h4 style="color: #FE980F;padding-top: 5px;" class="slideItem">
                                            <i class="fa fa-inr"></i>
                                            {{item.price}}
                                        </h4>

                                        <h5 class="slideItem">{{item.name}} - {{item.weight}}
                                        </h5>

                                        <div class="caption caption-half-down" style="background-color: white;">
                                            <p class="shutterFont">{{vm.slides[$index].name}} -
                                                {{vm.slides[$index].quantity}}</p>

                                            <div class="btn-group">
                                                <button class="btn btn-default" style="padding: 0;width: auto;">
                                                    <span style="padding-left: 5px;float:left">{{item.weight}}</span>
                                                <span class="pull-right" style="padding-right: 5px;padding-left: 15px;">
                                                    <i class="fa fa-inr" style="color: #EB5C31;"></i> {{item.price}}
                                                </span>
                                                </button>
                                                <button data-toggle="dropdown" style="padding-top: 0;padding-bottom: 0"
                                                        class="btn btn-default dropdown-toggle"
                                                        data-placeholder="false"><span class="caret"></span></button>
                                                <ul class="dropdown-menu" style="min-width: 100%;max-height: 50px;
                                        overflow-y: auto">
                                                    <li style="padding-left: 5px;padding-right: 15px;cursor: pointer"
                                                        data-ng-repeat="(weight,price) in item.weightToPrice"
                                                        data-ng-click="item.weight=weight.trim();
                                                item.price=price.trim()">
                                                        <span>{{weight}} </span>
                                                <span class="pull-right">
                                                    <i class="fa fa-inr" style="color: #EB5C31;"></i> {{price}}
                                                </span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <h4 class="shutterItemPrice"><i class="fa fa-inr"></i>
                                                {{item.price}}</h4>
                                        </div>
                                        <div class="caption caption-half-up" style="background-color: white;">
                                            <p class="shutterFontChef" style="color: #262626;margin-top: 0">Chef
                                                Detail</p>
                                            <h5 class="shutterFont" style="margin-top: 0">{{item.chefName}} ,
                                                {{item.chefLocation}}</h5>
                                            <a href="" data-ng-click="vm.buy(item)"
                                               style="background-color: teal;color: white;margin-top: 0;text-align: center"
                                               class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i> Buy</a>
                                        </div>
                                    </div>
                                </div>

                            </data-owl-carousel>
                        </div>
                        <div style="position: absolute;bottom: 50%;right: 20px;margin-right: 30px;">
                            <a class="next" id="popularowlNext">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" style="color: teal"></i>
                                    <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12 col-sm-12 page-title dishesCarousel"
                     style="background: teal !important;color: white !important;margin-top: 0;margin-bottom:10px; ">
                    <div class="container">
                        <div class="pull-left">Popular Categories</div>
                        <div class="pull-right">
                            <div style="text-align: center"><a href="#!categories" class="btn btn-info" id="searchbtn1">
                                <span class="fontawesome fa fa-search" style="align-content: center"></span> Browse All
                                Categories</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" style="padding: 0">
                    <div class="container" style="padding: 0">
                        <div ng-repeat="item in vm.categories">
                            <div class="col-md-4 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-class-odd="'oddPanel'" ng-class-even="'evenPanel'">
                                        <span class="fontawesome fa fa-heart">  </span>&nbsp;<label>{{item.category}}</label>
                                        <label class="pull-right">{{item.totalItems}} items</label>
                                    </div>
                                    <div class="panel-body" style="padding: 5px">
                                        <img bn-lazy-src="img/all-categories/{{item.imageHash}}.png"
                                             class="bn-lazy-img popularCategoryimg img-responsive">

                                        <p class="slideDescription" style="padding-left: 5px"> {{item.description}}</p>
                                    </div>
                                    <div class="panel-footer"
                                         style="border: none;background-color: transparent;margin-bottom: 10px">
                                        <a href="" data-ng-click="vm.foodChange(item.category)"
                                           class="jbtn add-to-cart"><i></i>View All Items</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="testMobile" style="margin-top: 10px;" class="hidden-lg hidden-md hidden-sm col-xs-12">
        <div class="col-xs-12 page-title" style="margin-top: 0;margin-bottom: 5px">
            <div>Popular Dishes</div>
        </div>

        <div>
            <div ng-repeat="item in vm.slides" class="item">
                <div class="thumbnail col-xs-12" style="width: 100%; height: 250px">
                    <img bn-lazy-src="img/md/{{item.imageHash}}.png"
                         class="bn-lazy-img popularimg img-responsive">


                    <h4 style="color: #FE980F;padding-top: 5px;" class="slideItem">
                        <i class="fa fa-inr"></i>
                        {{item.price}}
                    </h4>

                    <h5 class="slideItem">{{item.name}} - {{item.weight}}
                    </h5>

                    <div class="caption caption-half-down" style="background-color: white;">
                        <p class="shutterFont">{{vm.slides[$index].name}} -
                            {{vm.slides[$index].quantity}}</p>

                        <div class="btn-group">
                            <button class="btn btn-default" style="padding: 0;width: auto;">
                                <span style="padding-left: 5px">{{item.weight}}</span>
                                                <span class="pull-right" style="padding-right: 5px;padding-left: 15px;">
                                                    <i class="fa fa-inr" style="color: #EB5C31;"></i> {{item.price}}
                                                </span>
                            </button>
                            <button data-toggle="dropdown" style="padding-top: 0;padding-bottom: 0"
                                    class="btn btn-default dropdown-toggle"
                                    data-placeholder="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu" style="min-width: 100%;max-height: 35px;
                                        overflow-y: auto">
                                <li style="padding-left: 5px;padding-right: 15px;cursor: pointer"
                                    data-ng-repeat="(weight,price) in item.weightToPrice"
                                    data-ng-click="item.weight=weight.trim();
                                                item.price=price.trim()">
                                    <span>{{weight}} </span>
                                                <span class="pull-right">
                                                    <i class="fa fa-inr" style="color: #EB5C31;"></i> {{price}}
                                                </span>
                                </li>
                            </ul>
                        </div>

                        <h4 class="shutterItemPrice"><i class="fa fa-inr"></i>
                            {{item.price}}</h4>
                    </div>
                    <div class="caption caption-half-up" style="background-color: white;">
                        <p class="shutterFontChef" style="color: #262626;margin-top: 0">Chef Detail</p>
                        <h5 class="shutterFont" style="margin-top: 0">{{item.chefName}} , {{item.chefLocation}}</h5>
                        <a href="" data-ng-click="vm.buy(item)"
                           style="background-color: teal;color: white;margin-top: 0;text-align: center"
                           class="btn btn-default add-to-cart"><i
                                class="fa fa-shopping-cart"></i> Buy</a>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn home_page_button" href="#!categories">BROWSE ALL COLLECTIONS</a>

    </div>
    <div style="clear: both"></div>
    <div class="push"></div>
</div>