<div>
    <div lazy-background class="frontcontainer  col-md-12" style="margin-top: -25px;background-color: #1b6d85">
        <div class="divElement">
            <div class="container">
                <div class="locationdiv inner-addon left-addon col-md-3 col-sm-3 col-xs-12">
                    <span>  <i class="fontawesome fa fa-location-arrow"></i></span>
                    <input data-toggle="dropdown"

                           class="location form-control dropdown-toggle " type="text" placeholder="Current Location"
                           ng-model="vm.city"
                           data-ng-keydown="vm.getLocation();">

                    <ul class="dropdown-menu list-group-item-heading"
                        style="width: 100%;padding: 0px;margin-top: 5px">
                        <li class="list-group-item"
                            style="cursor: pointer;font-weight: 500;padding: 0px;height: 50px;margin-top: 5px;border: none;border-bottom: 1px solid lightseagreen"
                            ng-repeat="city in vm.cityList" data-ng-click="vm.cityChange(city)">
                            <a style="padding: 0px;height: 50px;vertical-align: middle;padding: 15px">
                                <span style="margin-left: 10px;font-weight: 800;font-family:'Tahoma', Geneva, sans-serif">{{city}}</span>
                            </a>
                        </li>
                    </ul>
                    <!--<ul class="dropdown-menu list-group-item-heading" style="position: initial;width: 100%;">-->
                    <!--<li class="list-group-item" ng-repeat="city in ['Pune','Nagpur','Mumbai']" data-ng-click="cityChange(city)">{{city}}</li>-->
                    <!--</ul>-->
                </div>
                <div class="fooddiv inner-addon left-addon col-md-7 col-sm-6 col-xs-12">
                    <span>  <i class="fontawesome fa fa-cutlery"></i></span>
                    <input data-toggle="dropdown" class="form-control dropdown-toggle delicacy" type="text"
                           placeholder="Search Homemade Delicacies" ng-model="search.$">


                    <ul class="dropdown-menu list-group"
                        style="width: 100%;z-index: 9999;overflow: visible;padding: 0px;margin-top: 5px">
                        <li id="jquery-list-view-limit" class="list-group-item itemlist"
                            ng-repeat="snack in vm.foodList | filter:search:strict | limitTo:8"
                            style="cursor: pointer;" data-ng-click="vm.foodChange(snack)">
                            <span class="badge">Popularity ***</span>{{snack}}
                        </li>
                        <li class="list-group-item disabled"
                            ng-show="(vm.popularFoodList | filter:search:strict).length">Popular Delicacies
                        </li>
                        <li class="list-group-item" style="cursor: pointer;"
                            ng-repeat="snack in vm.popularFoodList | filter:search:strict"
                            data-ng-click="vm.foodChange(snack)">
                            <span class="badge">Popularity *****</span>{{snack}}
                        </li>
                        <li class="list-group-item disabled" ng-show="(vm.newFoodList | filter:search:strict).length">
                            Newly Launched Delicacies
                        </li>
                        <li class="list-group-item" style="cursor: pointer;"
                            ng-repeat="snack in vm.newFoodList | filter:search:strict"
                            data-ng-click="vm.foodChange(snack)">
                            <span class="badge">New</span>{{snack}}
                        </li>
                    </ul>
                </div>
                <div class="searchdiv col-md-2 col-sm-3 col-xs-12"
                     style="padding-left: 0px;padding-right:0px;height: 45px;">
                    <a href="" data-ng-click="vm.loadItems()" class="btn btn-info btn-lg" id="searchbtn">
                        <span class="fontawesome fa fa-search" style="align-content: center"></span> Search All</a>
                </div>
            </div>
        </div>
    </div>

    <div id="dishes" class="hidden-xs">
        <div>
            <div>
                <div class="col-md-12 page-title" style="margin: 0">
                    <div class="container">Popular Dishes</div>
                </div>
                <div>
                    <div class="col-md-12" style="margin-top: 20px;">
                        <div style="float: left;position: absolute;bottom: 50%;margin-left: 30px;">
                            <a class="prev" id="popularowlPrev">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" style="color: teal"></i>
                                    <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                        <div class="container">
                            <data-owl-carousel style="height: 250px;width: auto;margin-left: 35px"
                                               id="owl-demo" class="owl-carousel" data-options="{rewindNav : true}">
                                <div owl-carousel-item="" ng-repeat="item in vm.slides" class="item"
                                     style="width: 220px;margin-right: 20px;border: none">
                                    <div class="thumbnail">
                                        <img bn-lazy-src=""
                                             class="bn-lazy-img popularimg img-responsive">

                                        <h2 style="color: #FE980F" class="slideItem"><i class="fa fa-inr"></i>
                                            {{vm.slides[$index].price}}</h2>

                                        <p class="slideItem">{{vm.slides[$index].name}} - {{vm.slides[$index].quantity}}
                                            Kg</p>

                                        <div class="caption caption-half-down" style="background-color: white;">
                                            <p class="shutterFont">{{vm.slides[$index].name}} -
                                                {{vm.slides[$index].quantity}} Kg</p>

                                            <h2 class="shutterItemPrice"><i class="fa fa-inr"></i>
                                                {{vm.slides[$index].price}}</h2>
                                            <a href="" data-ng-click="vm.buy(item)"
                                               style="background-color: teal;color: white;padding-top: 0px;text-align: center"
                                               class="btn btn-default add-to-cart"><i
                                                    class="fa fa-shopping-cart"></i> Buy</a>
                                        </div>

                                        <div class="caption caption-half-up" style="background-color: white;">

                                            <p class="shutterFontChef" style="color: #262626;">Chef Detail</p>
                                            <h5 class="shutterFont">{{item.chefName}} , {{item.chefLocation}}</h5>
                                        </div>
                                    </div>
                                </div>

                            </data-owl-carousel>
                        </div>
                        <div style="position: absolute;bottom: 50%;right: 20px;margin-right: 30px;">
                            <a class="next" id="popularowlNext">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" style="color: teal"></i>
                                    <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12 col-sm-12 page-title dishesCarousel" style="margin-top: 0px;margin-bottom:10px; ">
                    <div class="container">
                        <div class="pull-left">Popular Categories</div>
                        <div class="pull-right">
                            <div style="text-align: center"><a href="#/categories" class="btn btn-info" id="searchbtn1">
                                <span class="fontawesome fa fa-search" style="align-content: center"></span> Browse All
                                Categories</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12" style="padding: 0">
                    <div class="container" style="padding: 0">
                        <div ng-repeat="item in vm.categories">
                            <div class="col-md-4 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-class-odd="'oddPanel'" ng-class-even="'evenPanel'">
                                        <span class="fontawesome fa fa-heart">  </span>&nbsp;<label>{{item.category}}</label>
                                        <label class="pull-right">{{item.totalItems}} items</label>
                                    </div>
                                    <div class="panel-body" style="padding: 5px">
                                        <img bn-lazy-src="img/all-categories/{{item.imageHash}}.png"
                                             class="bn-lazy-img popularCategoryimg img-responsive">

                                        <p class="slideDescription" style="padding-left: 5px"> {{item.description}}</p>
                                    </div>
                                    <div class="panel-footer"
                                         style="border: none;background-color: transparent;margin-bottom: 10px">
                                        <a href="" data-ng-click="vm.foodChange(item.category)"
                                           class="jbtn add-to-cart"><i></i>View All Items</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="testMobile" style="margin-top: 10px;" class="hidden-lg hidden-md hidden-sm col-xs-12">
        <div class="col-md-12"
             style="height: 35px;font-family: 'Lucida Console',Monaco, monospace;text-align: center;font-weight: bold;;font-size: large;color:teal">
            Popular Dishes
        </div>

        <div>
            <div ng-repeat="item in vm.slides" class="item">
                <div class="thumbnail col-xs-12" style="width: 100%; height: 200px">
                    <img bn-lazy-src="" alt="product"
                         class="bn-lazy-img popularimgmble img-responsive">

                    <h2 class="slideItem" style="color: #FE980F;margin-top: -5px"><i class="fa fa-inr"></i>
                        {{vm.newSlides[$index].price}}</h2>

                    <p class="slideItem">{{vm.newSlides[$index].name}} - {{vm.newSlides[$index].quantity}}
                        Kg</p>

                    <div class="caption caption-half-down" style="align-content: center;text-align: center">
                        <p>{{vm.newSlides[$index].name}} - {{vm.newSlides[$index].quantity}} Kg</p>

                        <h2><i class="fa fa-inr"></i> {{vm.newSlides[$index].price}}</h2>
                    </div>
                    <div class="caption caption-half-up">
                        <a href="" data-ng-click="vm.buy(item)" class="btn btn-default add-to-cart"><i
                                class="fa fa-shopping-cart"></i> Buy</a>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn home_page_button" href="#/categories">BROWSE ALL COLLECTIONS</a>

    </div>
    <div style="clear: both"></div>
    <div class="push"></div>
</div>