<div lazy-background class="frontcontainer col-xs-12"
     style="background-color: #1b6d85;margin-top: -30px;">
    <div class="divElementMble">
        <div class="container">
            <div class="input-group stylish-input-group">
                <input data-toggle="dropdown" type="text" ng-model="search.$" class="form-control"
                       placeholder="Search homemade food...">
                    <span class="input-group-addon"
                          style="border-top-right-radius:5px; border-bottom-right-radius: 5px;;"
                          data-ng-click="vm.loadItems()">
                            <span style="color: teal" class="fa fa-search"></span>
                    </span>

                <ul class="dropdown-menu list-group"
                    style="width: 100%;z-index: 9999;overflow: visible;padding: 0;">
                    <li id="jquery-list-view-limit-new" class="list-group-item itemlist"
                        ng-repeat="snack in vm.foodList | filter:search:strict | limitTo:5"
                        style="cursor: pointer;" data-ng-click="vm.loadCategoryItems(snack)">
                        {{snack}}
                    </li>
                    <li class="list-group-item" style="cursor: pointer;"
                        ng-repeat="snack in vm.popularFoodList | filter:search:strict | limitTo:0"
                        data-ng-click="vm.loadCategoryItems(snack)">
                        {{snack}}
                    </li>
                    <li class="list-group-item" style="cursor: pointer;"
                        ng-repeat="snack in vm.newFoodList | filter:search:strict"
                        data-ng-click="vm.loadCategoryItems(snack)">
                        <span class="badge">New</span>{{snack}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 col-xs-offset-4 text-center" style="margin-bottom: 1rem;margin-top: 1rem">
                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" style="color: #f2f2f2"></i>
                                    <i class="fa-stack" style="color: #333;font-size: 12px">OR</i>
                    </span>
            </div>
            <div class="col-xs-8 col-xs-offset-2 text-center"
                 style="padding:1rem 1rem;background: rgba(255,255,255,0.7);color: #333">
                <a href="categories" style="text-decoration:none;color: #333;font-weight: bold">Browse all
                    categories</a>
            </div>

        </div>
    </div>
</div>

<div style="margin-top: 10px;" class="col-xs-12">
    <div class="col-xs-12 page-title"
         style=" font-size:16px!important;margin-top: 0;margin-bottom: 5px;background: teal !important;color: white!important;">
        Popular Categories
    </div>
    <div id="popular-categories">
        <div class="col-xs-12" style="padding: 0">
            <div ng-repeat="category in vm.categories">
                <div data-ng-include="'pages/categories/category-view.html'"/>
            </div>
        </div>
    </div>
    <a class="btn home_page_button" href="categories">BROWSE ALL COLLECTIONS</a>
    <hr>

</div>