<div class="container" style="padding: 0px">
    <div class="row">
        <h1 class="page-title" style="padding: 10px;margin-top: 5px">My Orders</h1>
    </div>
    <div style="background-color: white" class="row">
        <div ng-repeat="order in vm.orders">
            <div style="background-color: white;margin-bottom: 20px;border: 1px solid #16b594;border-bottom:none;box-shadow:2px 2px 2px 2px darkgray;padding: 0px"
                 class="col-md-12">

                <div class="col-md-12" style="background-color: #f9f9f9;border-bottom: 1px solid #16b594">
                    <div class="col-md-12"
                         style="font-size:large;font-weight: 600;height: 50px;padding-left: 15px;padding-right: 15px">
                        <a href="#/orderDetail/{{order.orderId}}" class="col-md-12 btn btn-default"
                           style="width: auto;height: 40px;text-align: center;margin-top: 5px;background-color: #EB5C31">{{order.orderId}}</a>
                    </div>
                </div>

                <div data-ng-repeat="item in order.items">
                    <div class="col-sm-12 col-xs-12 col-md-12"
                         style="border-bottom: 1px #B3AFA8 dotted;padding-left: 15px;padding-right: 15px">
                        <div class="col-sm-8" style="padding-top: 10px;">
                            <!--<span class="hidden-md hidden-lg hidden-sm" data-ng-click="vm.removeItemFromCart(item)"><i class="fa fa-trash-o pull-right" style="padding-top: 5px;cursor: pointer"></i></span>-->
                            <div class="col-sm-4 col-xs-12" style="padding-left: 0px!important;padding-bottom: 10px;">
                                <img src="{{vm.getImageUri(item.chefName,item.category,item.itemName,'md')}}"
                                     class="img-responsive" style="height: 80px;width: 120px;">
                            </div>
                            <div class="col-sm-8 col-xs-12" style="padding: 0px;">
                                <div>
                                    <div class="col-sm-4 col-xs-4" style="padding: 0px;">Item:</div>
                                    <div class="col-sm-8 col-xs-8" style="padding: 0px;">
                                        <label>{{item.itemName}}</label></div>
                                </div>
                                <!--<div>-->
                                <!--<div class="col-sm-4 col-xs-4" style="padding: 0px;">Chef:</div>-->
                                <!--<div class="col-sm-8 col-xs-8" style="padding: 0px;"><label>{{item.chefName}}</label></div>-->
                                <!--</div>-->
                                <div class="col-sm-12 col-xs-12" style="padding: 0px;">
                                    <div class="col-sm-4 col-xs-4" style="padding: 0px;">Quantity:</div>
                                    <div>
                                        {{item.quantity}} kg
                                    </div>
                                </div>
                                <div class="hidden-md hidden-lg hidden-sm">
                                    <div class=" col-xs-4" style="padding-left: 0px;padding-top: 5px;">Price:</div>
                                    <div class=" col-xs-8" style="padding-left: 0px;padding-top: 5px;">
                                        <label><i class="fa fa-inr"></i> {{item.price *
                                            item.quantity}}</label>

                                        <div class="col-sm-4 hidden-xs" style="padding-top: 10px;padding-right: 15px;">
                                            <div class="pull-right">
                                                <div class="col-sm-12 pull-right">
                                                    <div class="col-sm-4">Price:</div>
                                                    <div class="col-sm-8"><label><i class="fa fa-inr"></i> {{item.price
                                                        *
                                                        item.quantity}} </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 pull-right">
                                                    <div class="col-sm-4">Quantity:</div>
                                                    <div class="col-sm-8">
                                                        <label>{{item.quantity}} Kg</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-12" style="margin: 10px">
                    <div class="col-md-4">
                        <div class="col-md-4 summaryText">
                            Seller:
                        </div>

                        <div class="col-md-8">
                            Chefonia
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-4 summaryText">
                            Order Date:
                        </div>

                        <div class="col-md-8">
                            {{order.creationTime | date}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-4 summaryText">
                            Amount Paid:
                        </div>

                        <div class="col-md-8">
                            {{order.paymentType}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="push"></div>
</div>