<div class="container orderSummary">
    <div class="row">
        <h1 class="page-title" style="padding: 10px;margin-top: 5px">Order Details</h1>
    </div>
    <div style="background-color: white" class="row">
        <div class="col-md-12"
             style="font-size:large;font-weight: 600;margin-bottom: 20px;line-height: 50px ;background-color: #f2f2f2">
       <div class="pull-left">Order Summary </div>
           <div class="pull-right" style="color: teal;font-size: medium"> Status: {{vm.localize(vm.orderItem.status)}}</div>

        </div>
        <div class="col-md-6">

            <div class="col-md-12 col-xs-12">
                <div class="col-md-4 col-xs-5 summaryText">
                    Order No:
                </div>

                <div class="col-md-8 col-xs-7">
                    {{vm.orderItem.orderId}}
                </div>
                <hr class="divider col-md-12 orderDivider">
                <div class="col-md-4 col-xs-5 summaryText">
                    Seller:
                </div>

                <div class="col-md-8 col-xs-7">
                    Chefonia
                </div>
                <hr class="divider col-md-12 orderDivider">
                <div class="col-md-4 col-xs-5 summaryText">
                    Order Date:
                </div>

                <div class="col-md-8 col-xs-7">
                    {{vm.orderItem.creationTime | date}}
                </div>
                <hr class="divider col-md-12 orderDivider">
                <div class="col-md-4 col-xs-5 summaryText">
                    Payment By:
                </div>

                <div class="col-md-8 col-xs-7">
                    {{vm.orderItem.paymentType}}
                </div>
                <hr class="divider col-md-12 orderDivider">
                <div class="col-md-4 col-xs-5 summaryText">
                    Order Total:
                </div>

                <div class="col-md-8 col-xs-7">
                   <i class="fa fa-inr"></i> {{vm.orderItem.orderTotal}}
                </div>
                <hr class="divider col-md-12 orderDivider">
                <div class="col-md-4 col-xs-5 summaryText">
                    Payment Status:
                </div>

                <div class="col-md-8 col-xs-7">
                    {{vm.localize(vm.orderItem.paymentStatus)}}
                </div>
                <hr class="divider col-md-12 orderDivider">
            </div>
        </div>
        <div class="col-md-6" style="text-align: left">
            <div class="col-md-12" style="font-size: large;font-weight: 500;color: darkgray"> {{currentUser.userName |
                uppercase}}, {{vm.orderItem.deliveryAddress.mobile}}
            </div>
            <div class="col-md-12">
                {{vm.orderItem.deliveryAddress.lineOne}} {{vm.orderItem.deliveryAddress.lineTwo}}
                {{vm.orderItem.deliveryAddress.city}} {{vm.orderItem.deliveryAddress.state}}
                {{vm.orderItem.deliveryAddress.zip}}
            </div>
        </div>
    </div>
    <div style="background-color: white;margin-top: 30px" class="row">
        <div class="col-md-12"
             style="font-size:large;font-weight: 600;margin-bottom: 20px;line-height: 50px ;background-color: #f2f2f2">
            Manage Order
        </div>
        <div class="col-md-12 col-xs-12" style="text-align: center">
            <ul class="list-inline">
                <li class="col-md-4 col-xs-4">
                    <a href="" class="col-md-12" data-ng-click="vm.printOrder()"><i
                            class="fontawesome fa fa-print fa-4x"></i>&nbsp;</a>

                    <span>PRINT ORDER</span>
                </li>
                <li class="col-md-4 col-xs-4">
                    <a data-toggle="dropdown" data-ng-click="vm.showEmail()" href=""
                       class="col-md-12 dropdown-toggle"><i class="fontawesome fa fa-mail-forward fa-4x"></i>&nbsp;</a>
                    EMAIL INVOICE

                    <ul ng-show="vm.sendEmail" class="ng-cloak frmEMail">

                        <div style="margin-top: 5px">
                            <form class="col-md-12" name="emailForm">
                                <div ng-class="{'has-error': emailForm.email.$invalid && emailForm.email.$dirty}"
                                     class="form-group">
                                    <span style="font-size: medium;color: green;text-align: left;padding: 0"
                                          class="col-md-12">Invoice will be sent to : </span>
                                    <input type="email" style="height: 30px" id="emailUser" name="userEmail"
                                           placeholder="Enter email" required="" class="col-md-9">

                                    <div class="has-error ng-hide" ng-messages="emailForm.userEmail.$error"
                                         ng-show="emailForm.userEmail.$touched">
                                        <p class="help-block errorMsg" ng-show="emailForm.userEmail.$error.required"
                                           ng-message="required">Your email is required.</p>

                                        <p class="help-block errorMsg" ng-show="emailForm.userEmail.$error.email">
                                            Your email is not valid.
                                        </p>
                                    </div>
                                    <input type="submit" style="background-color: green;color: white;height: 30px"
                                           value="Send" class="btn btn-small btn-blue col-md-3">
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>

                <li class="col-md-4 col-xs-4">
                    <a href="" class="col-md-12" data-ng-click="vm.showContact()"><i
                            class="fontawesome fa fa-phone fa-4x"></i>&nbsp;</a>
                    CONTACT US
                    <ul ng-show="vm.contactDetail" class="ng-cloak frmCntct">

                        <div style="margin-top: 5px;font-size: medium;font-style: italic;color:#16b594">
                            <div class="col-md-12"> We have 24 by 7 working support.</div>
                            <div class="col-md-12"> Kindly Contact us via Email admin@chefonia.com</div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div style="background-color: white;margin-top: 30px" class="row">
        <div class="col-md-12"
             style="font-size:large;font-weight: 600;margin-bottom: 20px;line-height: 50px ;background-color: #f2f2f2">
            Item Details
        </div>
        <div data-ng-repeat="item in vm.orderItem.items">
            <div class="col-sm-12 col-xs-12" style="border-bottom: 1px #B3AFA8 dotted">

                <div class="col-sm-8" style="padding-left: 0px!important; padding-top: 10px;">
                    <!--<span class="hidden-md hidden-lg hidden-sm" data-ng-click="vm.removeItemFromCart(item)"><i class="fa fa-trash-o pull-right" style="padding-top: 5px;cursor: pointer"></i></span>-->
                    <div class="col-sm-4 col-xs-4" style="padding-left: 0px!important;padding-bottom: 10px;">
                        <img bn-lazy-src="img/md/{{item.imageHash}}.png" class="img-responsive" style="height: 80px;width: 120px;">
                    </div>
                    <div class="col-sm-8 col-xs-8" style="padding: 0px;">
                        <div>
                            <div class="col-sm-4 col-xs-4" style="padding: 0px;">Item:</div>
                            <div class="col-sm-8 col-xs-8" style="padding: 0px;"><label>{{item.itemName}}</label></div>
                        </div>
                        <!--<div>-->
                        <!--<div class="col-sm-4 col-xs-4" style="padding: 0px;">Chef:</div>-->
                        <!--<div class="col-sm-8 col-xs-8" style="padding: 0px;"><label>{{item.chefName}}</label></div>-->
                        <!--</div>-->
                        <div class="col-sm-12 col-xs-12" style="padding: 0px;">
                            <div class="col-sm-4 col-xs-4" style="padding: 0px;">Quantity:</div>
                            <div>
                                {{item.quantity}}
                            </div>
                        </div>
                        <div class="hidden-md hidden-lg hidden-sm">
                            <div class=" col-xs-4" style="padding-left: 0px;padding-top: 5px;">Price:</div>
                            <div class=" col-xs-8" style="padding-left: 0px;padding-top: 5px;">
                                <label><i class="fa fa-inr"></i> {{item.price *
                                    item.quantity}}</label>

                            </div>
                        </div>
                        <div class="hidden-md hidden-lg hidden-sm">
                            <div class=" col-xs-4" style="padding-left:0px; padding-bottom: 10px;">Quantity:</div>
                            <div class=" col-xs-8" style="padding-left: 0px;"><label>{{item.quantity}}</label></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs" style="padding-top: 10px;padding-right: 15px;">
                    <div class="pull-right">
                        <div class="col-sm-12 pull-right">
                            <div class="col-sm-4">Price:</div>
                            <div class="col-sm-8"><label><i class="fa fa-inr"></i> {{item.price}} </label>
                            </div>
                        </div>
                        <div class="col-sm-12 pull-right">
                            <div class="col-sm-4">Weight:</div>
                            <div class="col-sm-8">
                                <label>{{item.weight}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>