<div id="items" class="product">
    <div class="container categoryContainer">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1 class="page-title" style="padding: 10px;">{{vm.itemType}} in {{vm.location}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div ng-repeat="item in vm.items">
                    <div class="col-md-3 col-sm-4 col-xs-12" style="padding: 0px;">
                        <div style="padding: 20px;">
                            <div class="thumbnail">
                                <img bn-lazy-src="{{vm.getImageUri(item.chefName,item.category,item.name,'md')}}"
                                     class="bn-lazy-img img-responsive itemImage">

                                <div id="{{item.itemId}}" style="position: absolute; top: 50%;
                                left: 40%;background-color: #16b594;color:#f5f5f5;padding: 5px; visibility: hidden">
                                    <i class="fa fa-spinner fa-spin"></i> Adding
                                </div>
                                <h3 class="name" style="text-align: center">
                                    <span>{{item.name}}</span>

                                    <h3 class="name">
                                        <span class="pull-left shutterPrice">{{item.weight}} Kg</span>
                                        <span class="pull-right shutterPrice"><i
                                                class="fa fa-inr"></i> {{item.price}}</span>
                                    </h3>

                                </h3>


                                <div class="caption caption-half-down" style="background-color: white;">
                                    <p class="shutterFont">{{item.name}} - {{item.weight}} Kg</p>

                                    <h2 class="shutterItemPrice"><i class="fa fa-inr"></i> {{item.price}}</h2>
                                    <a class="btn btn-default add-to-cart" style="background-color: teal;color: white"
                                       data-ng-click="vm.buy(item)"><i
                                            class="fa fa-search-minus"></i> Buy Now</a>

                                </div>
                                <div class="caption caption-half-up" style="background-color: white;">

                                    <p class="shutterFontChef" style="color: #262626;">Chef Detail</p>
                                    <h5 class="shutterFont">{{item.chefName}} , {{item.chefLocation}}</h5>


                                </div>
                            </div>
                            <div class="choose text-center">
                                <a id="button-{{item.itemId}}" class="btn btn-default mybtn"
                                   data-ng-click="vm.addItemInCart(item)"
                                   style="cursor: pointer"><i class="fa fa-shopping-cart"></i> ADD TO
                                    CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-ng-if="vm.totalPageAsArray.length>1">
            <div class="col-xs-12 col-sm-12 text-center">
                <ul class="pagination">
                    <li ng-class="{'disabled':vm.selectedIndex==0}" style="cursor: pointer">
                        <a data-ng-click="vm.loadNextPage(0)">&laquo;</a></li>
                    <li ng-class="{ 'active': $index=== vm.selectedIndex}"
                        data-ng-repeat="count in vm.totalPageAsArray track by $index" style="cursor: pointer">
                        <a data-ng-click="vm.loadNextPage($index)">{{$index+1}}</a></li>
                    <li ng-class="{'disabled':vm.totalPageAsArray.length-1==vm.selectedIndex}" style="cursor: pointer">
                        <a data-ng-click="vm.loadNextPage(vm.totalPageAsArray.length-1)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>