<div id="items" class="product">
    <div class="container categoryContainer">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1 class="page-title" style="padding: 10px;">{{vm.categoryName}} in {{vm.chefLocation}} Location</h1>
            </div>
        </div>
        <div class="row">
            <div data-ng-if="vm.items.length==0" class="col-sm-12 text-center">
                <p style="color: #b2b2b2;font-size: 22px;">
                    Thanks for your patience, we are soon adding items in this category.
                </p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div ng-repeat="item in vm.items">
                    <div class="col-md-3 col-sm-4 col-xs-12" style="padding: 0px;">
                        <div style="padding: 20px;">
                            <div class="thumbnail" itemscope itemtype="http://schema.org/Product">
                                <img bn-lazy-src="img/md/{{item.imageHash}}.png"
                                     class="bn-lazy-img img-responsive itemImage" itemprop="image">

                                <div id="{{item.itemId}}" style="position: absolute; top: 50%;
                                left: 40%;background-color: #EB5C31;color:#f5f5f5;padding: 5px; visibility: hidden">
                                    <i class="fa fa-spinner fa-spin"></i> Adding
                                </div>
                                <div id="{{item.itemId}}-done" style="position: absolute; top: 50%;
                                left: 40%;background-color: #EB5C31;color:#f5f5f5;padding: 5px; display: none">
                                    Added in cart
                                </div>
                                <h3 class="name" style="text-align: center">
                                    <span itemprop="name">{{item.name}}</span>

                                    <h3 class="name" style="padding-left: 10px;padding-right: 10px;">
                                        <span class="pull-left shutterPrice">{{item.weight}}</span>
                                        <span itemprop="price" class="pull-right shutterPrice"><i
                                                class="fa fa-inr"></i> {{item.price}}</span>
                                    </h3>

                                </h3>
                                <div class="caption caption-half-down" style="background-color:#f5f5f5">
                                    <p class="shutterFont" style="margin: 0">{{item.name}} </p>

                                    <div class="btn-group">
                                        <button class="btn btn-default" style="padding: 0;width: auto;">
                                            <span style="padding-left: 5px;float:left">{{item.weight}}</span>
                                                <span class="pull-right" style="padding-right: 5px;padding-left: 15px;">
                                                    <i class="fa fa-inr" style="color: #EB5C31;"></i> {{item.price}}
                                                </span>
                                        </button>
                                        <button data-toggle="dropdown" style="padding-top: 0;padding-bottom: 0"
                                                class="btn btn-default dropdown-toggle"
                                                data-placeholder="false"><span class="caret"></span></button>
                                        <ul class="dropdown-menu" style="min-width: 100%;max-height: 70px;
                                        overflow-y: auto">
                                            <li style="padding-left: 5px;padding-right: 15px;cursor: pointer"
                                                data-ng-repeat="(weight,price) in item.weightToPrice"
                                                data-ng-click="item.weight=weight.trim();
                                                item.price=price.trim()">
                                                <span>{{weight}} </span>
                                                <span class="pull-right">
                                                    <i class="fa fa-inr" style="color: #EB5C31;"></i> {{price}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <h2 class="shutterItemPrice">
                                        <i class="fa fa-inr"></i>{{item.price}}
                                    </h2>
                                </div>
                                <div class="caption caption-half-up" style="background-color: #f5f5f5;">

                                    <p class="shutterFontChef" style="color: #262626;">Chef Detail</p>
                                    <h5 class="shutterFont">{{item.chefName}} , {{item.chefLocation}}</h5>
                                    <a class="btn btn-default add-to-cart"
                                       style="background-color: teal;color: white;margin: 0"
                                       data-ng-click="vm.buy(item)"><i
                                            class="fa fa-shopping-cart"></i> Buy Now</a>

                                </div>
                            </div>
                            <div class="choose text-center">
                                <button id="button-{{item.itemId}}" class="btn btn-default mybtn"
                                        data-ng-click="vm.addItemInCart(item)"
                                        style="cursor: pointer"><i class="fa fa-shopping-cart"></i>
                                    ADD TO CART
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-ng-hide="vm.isLast">
            <div class="col-xs-12 col-sm-12 text-center">
                <a data-ng-hide="vm.isLoadingMore" class="btn-default btn" style="color: #444" data-ng-click="vm.loadNextPage()">
                    Show more <i class="fa fa-chevron-down"></i>
                </a>
                <a data-ng-show="vm.isLoadingMore" class="btn-default btn disabled" style="color: #444">
                    Loading <i class="fa fa-spin fa-spinner"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>