<div id="reg-form" class="container margin-after-heading box-shadow--16dp reg-layer reg-form-size"
        >
    <!-- <div class="row">
         <p class="pull-left " style="margin-left: 15px;"><b>Register as a cook</b></p></div>-->

    <form novalidate role="form"  name="loginForm">
        <div class="row" ng-if="formSubmitted">
            <span ng-bind="displayMsg" style="color: #111c3a; margin-left: 15px !important; float: left !important; padding-bottom: 5px;"/>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                 ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
                <div class="input-group margin-bottom-sm form-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input name="username" class="form-control" type="text" placeholder="Your full name" required
                           data-ng-model="chef.name" maxlength="30" data-ng-pattern="/^[a-zA-Z ]*$/">
                </div>
                <div class="help-block has-error pull-left"
                     ng-show="loginForm.username.$error.required && ! loginForm.username.$pristine">
                    Full name is required
                </div>
                <div class="help-block has-error pull-left"
                     ng-show="loginForm.username.$error.pattern && ! loginForm.username.$pristine">
                    Your full name can only have alphabets
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                 ng-class="{'has-error': loginForm.mobile.$invalid && loginForm.mobile.$dirty}">
                <div class="input-group  form-group">
                    <span class="input-group-addon"><i class="fa fa-mobile fa-fw hidden-xs"></i> +91</span>
                    <input name="mobile" class="form-control" type="text" placeholder="Your mobile number"
                           data-ng-model="chef.mobileNumber" ng-minlength="10" maxlength="10" data-ng-pattern="/^\d+$/"
                           required>
                </div>
                <div class="help-block has-error pull-left"
                     ng-show="(loginForm.mobile.$error.minlength||loginForm.mobile.$error.pattern) && ! loginForm.mobile.$pristine">
                    Your mobile number should have 10 digits
                </div>
                <div class="help-block has-error pull-left"
                     ng-show="loginForm.mobile.$error.required && ! loginForm.mobile.$pristine">
                    Mobile number is required
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" pull-right" style="padding-right: 15px;">
                <button type="submit" class="btn btn-default" data-ng-click="submit();loginForm.$setPristine()" ng-disabled="loginForm.$invalid">
                    Register as a cook
                </button>
                <button type="submit" class="btn btn-default" style="margin-left: 5px;" data-ng-click="reset();loginForm.$setPristine()" >
                    Reset
                </button>
            </div>
        </div>
    </form>
</div>
</div>
